@model string
@{
    ViewData["Title"] = "Create";
}

<div class="col-md-12">
    <h4>Crear Rol</h4>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label for="name">Nombre del Rol</label>
            <input name="name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-floppy-saved"></i>
            Crear
        </button>
        <a asp-action="Index" class="btn btn-danger">
            <i class="glyphicon glyphicon-remove"></i>
            Cancelar
        </a>
    </form>
    <br />
    <hr />

</div>

